{{#each posts as |post|}}
<div id = "post">
    <h1>{{title}}</h1>
    <div>
        {{text}}
    </div>
</div>
{{/each}}
<div id = "bookInfo">
</div>
<h1>
title: {{bookTitle}}
</h1>
<div>
Author: {{bookAuthor}}
</div>
<div>

Category: {{bookCategories}}
</div>
<div>
Maturity: {{bookMaturity}}
</div>
<div>
Descrption: {{bookDescription}}
</div>
<script src="/js/post.js"></script>