{{> navBar}}

{{#each posts as |post|}}

<div class="flex space-x-6">

    <div id="bookInfo" class="w-2/6 m-4 mt-8 ml-9
    overflow-auto
    rounded shadow-lg border border-black mt-4 bg-cyan-50">

        <div class="m-2 border-2 border-black bg-sky-100">

            <h1 class=" m-4 text-2xl italic flex flex-col items-center">
                {{post.book.title}}
            </h1>

            <div class=" m-4 text-lg flex flex-col items-center">
                by {{post.book.author}}
            </div>
        </div>

        <div class="m-2 border-2 border-black bg-teal-100">

            <div class=" m-2">
                Category: {{post.book.category}}
            </div>

            {{#if post.book.pub_year}}
            <div class=" m-2">
                Year: {{post.book.pub_year}}
            </div>
            {{else if post.book.publication_date}}
            <div class=" m-2">
                Year: {{post.book.publication_date}}
            </div>
            {{else}}

            {{/if}}

            {{#if post.book.pages}}
            <div class=" m-2">
                Pages: {{post.book.pages}}

            </div>
            {{else if post.book.page_count}}
            <div class=" m-2">
                Pages: {{post.book.page_count}}

            </div>
            {{else}}

            {{/if}}

            <div class=" m-2">
                Maturity: {{post.book.age_rating}}
            </div>
        </div>

        <div class=" m-4 text-gray-600">
            {{post.book.description}}
        </div>
    </div>


    <div id="post" class="w-1/2 px-6 py-2
    rounded shadow-lg border border-gray mt-4 bg-cyan-50">
        <h1 class="font-bold text-xl ">{{post.title}} </h1>
        {{!-- {{post.user.user_name}} says--}}

        <div class="inline-block bg-gray-200 rounded-md px-3 py-1 mt-2 text-sm font-semibold text-gray-700 mr-2">
            {{post.text}}
        </div>
    </div>
</div>

{{/each}}