{{> navBar}}

{{#each posts as |post|}}

<div class="flex space-x-6">

    <div id="bookInfo" class="w-2/6 m-4 mt-8 ml-9
overflow-auto
rounded shadow-lg border border-black mt-4 bg-cyan-50">

        <div class="m-2 border-2 border-black bg-sky-100">

            <h1 class=" m-4 text-2xl italic flex flex-col items-center">
                {{book.title}}
            </h1>

            <div class=" m-4 text-lg flex flex-col items-center">
                by {{book.author}}
            </div>
        </div>

        <div class="m-2 border-2 border-black bg-teal-100">

            <div class=" m-2">
                Category: {{book.category}}
            </div>

            <div class=" m-2">
                Year: {{book.pub_year}}
            </div>
            <div class=" m-2">
                Pages: {{book.pages}}
            </div>

            <div class=" m-2">
                Maturity: {{book.maturity}}
            </div>
        </div>

        <div class=" m-4 text-gray-600">
            {{book.description}}
        </div>
        </div>


            <div id="post" class="w-1/2 
    rounded shadow-lg border border-gray mt-4 bg-cyan-50">
                <h1>post title{{post.title}}</h1>
                <div>
                    {{post.text}}
                </div>
            </div>
    </div>

{{/each}}
    <script src="/js/post.js"></script>