{{> navBar}}

<div id="postsList">
   
    {{#each bookPosts as |post|}}
    <div class="">
        <div class="rounded shadow-lg border border-gray mt-4 bg-cyan-50">
        </div>
        <div class="">
            <p>{{post.title}}</p>
            <p>{{post.text}}</p>
            <p> post by: {{post.user.user_name}}</p>
            <h3>{{post.book.title}}</h3>
        </div>
        <div>
            <h4>{{post.book.author}}</h4>
            <h4>{{post.book.description}}</h4>
        </div>
    </div>
    {{/each}}
</div>

<script src="/navBar"></script>
<script src="../js/logout.js"></script>