{{> navBar}}

<div id="posts">
    {{#each postData as |post|}}

    <div class=" rounded shadow-lg border border-gray mt-4 bg-cyan-50">

        <div class="px-6 py-2">

            <h3 class="font-bold text-xl ">{{post.title}} by {{post.user.user_name}}</h3>
        </div>

        <div class="text-black px-6 py-2">
            <a href="/post/{{post.book.id}}" class="inline italic underline">{{post.book.title}}</a>
            <p class="inline "> by {{post.book.author}}</p>
            <p class="inline-block bg-gray-200 rounded-md px-3 py-1 mt-2 text-sm font-semibold text-gray-700 mr-2">
                "{{post.text}}"</p>
        </div>

    </div>
    {{else}}
    <p>No posts available.</p>
    {{/each}}
    <script src="../js/logout.js"></script>